.item-blog {
    border-radius: 5px;
    overflow: hidden;
    height: 100%;
    background: red;
    transition: all .4s ease;
    /* position: relative; */
}
.item-blog .block-thumb {
    padding-bottom: 0%;
    overflow: hidden;
    height: auto;
    display: block;
    position: relative;
    background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.2), rgba(118,167,19,0.1));
}
.item-blog .block-thumb img {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}
.item-blog .block-thumb .time-post {
    position: absolute;
    text-align: center;
    right: 0;
    top: 0;
    background: #679210;
    border-radius: 0 5px 0 5px;
    padding: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}
.item-blog .block-thumb .time-post span {
    display: block;
}
.item-blog .block-content {
    padding: 20px;
    position: absolute;
    bottom: 0;
    background: linear-gradient(180deg, rgba(103,146,16,0.3) 0%, #679210 100%);
    color: #fff;
    width: 100%;
}
/* .item-blog .block-content p{
    display: none;
    transition: all 0.5s;
} */
.item-blog:hover .block-content .justify {
    height: auto;
    margin-bottom: 1rem;
    /* position: relative; */
    line-height: 1.4 !important;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 !important;
}
.item-blog .block-content .justify {
    height: 0;
    margin-bottom: 0rem;
    transition: all 1s ease;
}
.item-blog .block-content h3 {
    font-size: 18px;
    font-weight: 700;
}
.item-blog .block-content h3 a {
    color: #fff;
}
.item-blog .block-content .viewmore {
    font-weight: 500;
    position: relative;
    font-size: 16px;
    border: 1px solid #fff;
    padding: 5px 20px;
    border-radius: 10px;
    color: #fff;
}
.line-clamp {
    display: -webkit-box;
    display: block;
    -webkit-box-orient: vertical;
    position: relative;
    line-height: 1.4 !important;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 !important;
    -webkit-line-clamp: 3;
}
.line-clamp-3 {
    -webkit-line-clamp: 3;
    height: calc(1em * 1.4 * 3);
}