.cart-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 24px;
}

.cart-items{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px 0px;
}

.cart-item{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    border: 1px solid #E8E8E8;
    padding: 20px;
    background-color: #FCFCFC;
    transition: all 0.3s ease;
    border-radius: 5px;
}

.cart-item:hover{
    color: #2e9f3c;
    border: 1px solid #2e9f3c;
    background-color: #fff;
}

.cart-info{
    width: 100%;
}

.info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.info:first-child{
    margin-bottom: 8px;
}

.item-img{
    width: 70px;
    height: 70px;
    /* aspect-ratio: 1/1; */
    margin-right: 10px;
}

.item-price{
    color: #d80000;
    font-weight: 700;
}

.item-name{
    font-weight: 700;
    opacity: 95%;
}

/* btn */

button{
    border: none;
    background-color: transparent;
}

.btn{
    padding: 6px 12px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.btn-delete{
    font-size: 12px;
    color: #d80000;
    background-color: #fff;
    border: currentColor 1px solid;
}

.btn-delete:hover{
    background-color: #d80000;
    border: #d80000 1px solid;
    color: #fff;
}

.btn-ok{
    color: #2e9f3c;
    border: 1px solid currentColor;
    text-transform: uppercase;
    font-weight: 700;
}
.btn-ok:hover{
    color: #fff;
    border: 1px solid #2e9f3c;
    background-color: #2e9f3c;
}

.btn-delete-all{
    color: #fff;
    border: #d80000 1px solid;
    background-color: #d80000;
    font-weight: 700;
    opacity: 75%;
}

.btn-delete-all:hover{
    opacity: 100%;
    color: #fff;
}

/* thanh toán */
.checkout{
    display: flex;
    flex-direction: column;
    gap: 24px
}

.checkout-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px !important;
    background-color: #ffc107;
    color: #fff;
    border: none;
    font-weight: 700;
}

.total-text{
    font-size: 1rem;
    text-transform: uppercase;
}

.total-value{
    font-size: 1.5rem;
}

/* counter */
.input{
    
}

.count{
    border: none;
    width: 50px;
    text-align: center;
    
}

.btn-quantity{
    border: 1px solid #E8E8E8;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-quantity button{
    padding: 5px 10px;
}

.minus{
    border-right: 1px solid #E8E8E8;
}

.plus{
    border-left: 1px solid #E8E8E8;
}
/*  CSS PHẦN GIỎ HÀNG MỚI */
.cart-page {
    padding: 10px;
    background: #fff;
    border-radius: 5px;
}
.cart-page .cart-header-info {
    display: flex;
    display: flex;
    padding: 7px 0;
    border: solid 1px #ebebeb;
    border-bottom: none;
    font-weight: bold;
}
.cart-page .cart-header-info div{
    width: 16%;
    text-align: center;
}
.cart-page .cart-header-info div:nth-child(1) {
    width: 51%;
    text-align: left;
    padding-left: 10px;
}
.cart-page .cart_body {
    border: solid 1px #ebebeb;
}
.cart-page .cart_body .ajaxcart__row {
    padding: 10px 0;
    border-top: solid 1px #ebebeb;
}
.cart-page .cart_body .ajaxcart__row:first-child {
    border-top: none;
}
.cart-page .cart_body .ajaxcart__row .cart_product {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
}
.cart-page .cart_body .cart_image {
    width: 110px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}
.cart-page .cart_body .cart_image img {
    max-width: 100%;
    max-height: 100%;
}
.cart-page .cart_body .cart_info {
    padding-left: 15px;
    vertical-align: top;
    padding-right: 10px;
    display: flex;
    width: calc(100% - 110px);
    -webkit-width: calc(100% - 110px);
    -moz-width: calc(100% - 110px);
    -o-width: calc(100% - 110px);
    -os-width: calc(100% - 110px);
}
.cart-page .cart_body .cart_info .cart_name {
    width: 50%;
    margin-bottom: 5px;
}
.cart-page .cart_body .cart_info .cart_name a {
    margin-bottom: 4px;
    font-size: 13px;
    font-weight: 700;
    color: #000;
    line-height: 18px;
    display: block;
}
.cart-page .cart_body .cart_info .cart_name .remove-item-cart {
    display: block;
    color: #679210;
}
.cart-page .cart_body .grid {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-page .cart_body .grid .cart_prices .cart-price {
    font-weight: bold;
    display: block;
    font-size: 14px;
    color: #679210;
}
.cart-page .cart_body .cart_select {
    display: block;
    width: 100%;
    min-height: 30px;
    font-size: 1em;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    margin: 0;
    width: auto;
    float: left;
    position: relative;
    padding: 0;
    border: none;
    box-shadow: none;
    background-color: transparent;
    border: 1px solid #679210;
    border-radius: 5px;
    padding: 2px;
}
.cart-page .cart_body .cart_select form {
    float: left;
}
.cart-page .cart_body .cart_select button {
    font-size: 20px;
    line-height: 0px;
    border: 0;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: #679210;
    color: #fff;
    text-align: center;
    padding: 0px;
    border-radius: 5px;
}
.cart-page .cart_body .cart_select .count {
    padding: 0 2px;
    text-align: center;
    margin: 0px;
    display: block;
    float: left;
    height: 25px;
    border: 0;
    width: 30px;
    text-align: center;
    box-shadow: none;
    border-radius: 8px;
    font-size: 15px;
    background: transparent;
    margin-bottom: -2px;
}
/*  */
.cart-page .ajaxcart__footer {
    /* margin-top: 20px; */
}
.cart-page .ajaxcart__footer .cart__subtotal {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 12px;
    display: flex;
}
.cart-page .ajaxcart__footer .cart__subtotal .cart__col-6 {
    width: 50%;
    float: left;
}
.cart-page .ajaxcart__footer .cart__subtotal .cart__totle {
    width: 50%;
    float: left;
    text-align: right;
}
.cart-page .ajaxcart__footer .cart__btn-proceed-checkout-dt {
    display: block;
    position: relative;
}
.cart-page .ajaxcart__footer .cart__btn-proceed-checkout-dt button {
    width: 100%;
    background-color: #679210;
    color: #fff;
    text-align: center;
    line-height: 40px;
    border: 1px solid #679210;
    border-radius: 5px;
}
@media only screen and (max-width: 600px){
    .cart-container{
        display: flex;
        flex-direction: column;
    }
}